*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

:root {
  font-size: 62.5%;

  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose_50: hsl(20, 50%, 98%);
  --rose_100: hsl(13, 31%, 94%);
  --rose_300: hsl(14, 25%, 72%);
  --rose_400: hsl(7, 20%, 60%);
  --rose_500: hsl(12, 20%, 44%);
  --rose_900: hsl(14, 65%, 9%);
}

body {
  background-color: var(--rose_50);
  font-size: 1.6rem;
  color: var(--rose_900);
}

body.stop_scroll{
  overflow: hidden;
}

#major_container {
  display: flex;
  justify-content: space-around;
  gap: 48px;

  width: 80vw;
  margin: 20px auto;
  padding: 20px 40px;

  border-radius: 10px;
  box-shadow: 0px 0px 20px var(--rose_500);
  background-color: var(--rose_50);
}

#title {
  font-size: 36px;
  margin-bottom: 24px;
}

#desserts_container {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 20px;
  justify-content: center;
}

.dessert {
  display: flex;
  flex-direction: column;
}

.dessert_img {
  height: 200px;
  border-radius: 10px;
}

.dessert:has(.btn_wrapper:hover) .dessert_img {
  border: 1px solid var(--red);
}

.btn_wrapper {
  position: relative;
  display: flex;
  align-items: center;

  background-color: var(--rose_50);
  border: 1px solid var(--rose_300);
  border-radius: 20px;
  width: fit-content;

  padding: 8px 16px;
  margin: auto auto 5px;
  margin-top: -20px;
}
.dessert_btn {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  inset: 0;
}

.btn_wrapper:hover {
  border-color: var(--red);
  cursor: pointer;
}

.btn_wrapper:hover svg path {
  fill: var(--rose_50);
}

.clicked {
  gap: 10px;
  background-color: var(--red);
  color: var(--rose_50);
  cursor: auto;
}

.minus_button {
  height: fit-content;
}

.plus_button,
.minus_button {
  all: unset;
    border-radius: 50%;
    border: 1px solid var(--rose_50);
    padding: 0px 5px;
    display: flex;
    align-items: center;
    height: 20px;
}

.plus_button:hover,
.minus_button:hover {
  z-index:1;
  cursor: pointer;
  border-width: 2px;
}

.category {
  font-size: 1.2rem;
  color: var(--rose_400);
}

.dessert_name {
  font-weight: 600;
}

.dessert_price {
  color: var(--red);
}

#cart {
  width: 24vw;
  padding: 10px;
  grid-row: 1;
  background-color: white;
}

#cart_title {
  margin-bottom: 20px;

  background-color: white;
  color: var(--red);
}

#cart_list {
  grid-row: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

#cart_list.centralized {
  align-items: center;
  text-align: center;
}

.order,
#total_of_cart {
  padding: 16px 4px 0px;
}

.order {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.border-top {
  border-top: 1px solid var(--rose_100);
}

.price_wrapper {
  display: flex;
  gap: 10px;
}

.order_name {
  font-weight: 700;
  color: var(--rose_900);
  display: block;
  margin-bottom: 8px;
}

.order_qty {
  font-weight: 500;
  color: var(--red);
}

.unity_price {
  color: var(--rose_500);
}

.total_order_price {
  font-weight: 500;
  color: var(--rose_900);
}

.remove_btn {
  fill: var(--rose_500);
  border-radius: 50%;
  padding: 0px 4px;
  height: fit-content;
  background: none;
  border: 1px solid var(--rose_500);
  cursor: pointer;
}

.remove_btn:hover {
  border-width: 2px;
}

.remove_btn:hover svg {
  stroke: var(--rose_500);
}

.red_btn {
  border: none;
  background-color: var(--red);
  padding: 8px;
  color: var(--rose_50);
  border-radius: 10px;
  cursor: pointer;
}

#total_of_cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#total_cart_price {
  font-weight: 700;
  font-size: 24px;
}

#card {
  display: flex;
  justify-content: center;
  background-color: var(--rose_50);
  padding: 8px;
  font-size: 14px;
  gap: 4px;
}

#confirmation {
  position: fixed;
  top: 0;
  left: 0;

  overflow-y: auto;
  max-height: calc(100vh - 50px);

  margin: auto;
  padding: 48px;
}

#confirmation svg,
#confirmation_subtitle,
#confirmation_container,
#total_of_cart {
  margin-bottom: 24px;
}

#confirmation_title {
  font-size: 36px;
}

#confirmation_subtitle {
  color: var(--rose_500);
}

#confirmation_container {
  background-color: var(--rose_50);
}

.order_confirmed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.dessert_content_wrapper {
  display: flex;
}

.order_confirmed .order_text_wrapper {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  margin-right: 8px;
}

#new_order {
  margin: auto;
  width: -webkit-fill-available;
}

@media (max-width: 834px) {
  #desserts_container {
    grid-template-columns: repeat(2, 150px);
  }

  .dessert_img {
    width: 150px;
    height: 150px;
  }

  .order {
    align-items: center;
  }

  #total_of_cart {
    gap: 10px;
  }
}

@media (max-width: 480px) {


  #major_container {
    flex-direction: column;
    align-items: center;
  }

  .dessert_img{
    height: 200px;
    width: 200px;
  }

  #desserts_container {
    grid-template-columns: 200px;
    gap: 48px;
  }

  #cart{
    width: 300px;
    text-align: center;
  }

  .order_confirmed{
    margin-bottom:20px;
  }

  .order_confirmed .order_text_wrapper{
    justify-content: center;
  }
}

@media (max-width:400px) {
  .thumbnail{
    height: 70px;
  }

  .order_confirmed{
    align-items: center;
  }
}